@model Student
<form method="post">

    <div class="border p-3 mt-4">
        <h2 class="text-primary ">Delete </h2>
    </div>
    <input asp-for="Id" hidden></input>
    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" disabled class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" disabled class="form-control" />
       

    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" disabled class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="control-label"></label>
        <input asp-for="Gender" disabled class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="TeacherName" class="control-label"></label>
        <select asp-for="T_Id" disabled class="form-control" asp-items="@(new SelectList(ViewBag.Teachers,"Id","FirstName"))">
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-danger" style="100px">Delete</button>
    </div>

</form>

